$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);

body {
  box-sizing: border-box;
  background-color: $Light-gray;
  font-family: "Outfit";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .wrapper {
    background-color: $White;
    border-radius: 15px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
      .qr-code {
        img {
          width: 90%;
          border-radius: 15px;
          margin: 15px;
          margin-bottom: 0;
        }
      }
      .card-text {
        margin: 0 15px 15px 15px;
        text-align: center;
        padding: 10px;
        .card-heading {
          margin-top: 0;
          font-size: 20px;
          font-weight: 700;
          color: $Dark-blue;
        }
        .card-description {
          margin: 0px 5px;
          font-size: 13px;
          font-weight: 400;
          color: $Grayish-blue;
        }
      }
    }
  }
  .attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
